.sanfona {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    max-width: 95%;
    width: 100%;
    margin: 2em auto;
  }
  
  table {
    max-width: 100%;
    width: 100%;
    box-shadow: 0px 0px 0px 0px !important;
  }
  
  .mat-cell {
    padding: 8px 8px 8px 0;
  }
  
  mat-header-cell,
  mat-cell {
    justify-content: center;
  }
  
  mat-paginator {
    max-width: none;
    width: 100%;
    margin: 2em auto;
  }

  .view-button {
    margin-left: 5%;
  }

  .paginator {
    margin-top: 0px;
    margin-right: 1%;
  }