<mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenRecebido = true"
      (closed)="panelOpenRecebido = false"
      class="sanfona"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Recebidos </mat-panel-title>
      </mat-expansion-panel-header>
      <table
        mat-table
        [dataSource]="dataSourceRecebido"
        matSort
        class="mat-elevation-z8"
      >
        <!-- Numero do Pedido -->
        <ng-container matColumnDef="numeroPedido">
          <th mat-header-cell *matHeaderCellDef>Número do Pedido</th>
          <td mat-cell *matCellDef="let element">{{ element.numeroPedido }}</td>
        </ng-container>
  
        <!-- Status do pedido -->
        <ng-container matColumnDef="statusPedido">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">{{ element.statusPedido }}</td>
        </ng-container>
  
        <!-- Valor total do pedido -->
        <ng-container matColumnDef="valorTotal">
          <th mat-header-cell *matHeaderCellDef>Valor Total</th>
          <td mat-cell *matCellDef="let element">
            {{ element.valorTotal }}
          </td>
        </ng-container>
  
        <!-- Botão de visualizar pedido-->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Visualizar Pedido</th>
          <td mat-cell *matCellDef="let element" class="td-button">
            <div>
              <button
                mat-mini-fab
                color=""
                routerLink="/orders/{{ element.id }}"
                class="view-button"
              >
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumnsRecebido"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsRecebido"></tr>
      </table>
  
      <mat-paginator
        [pageSizeOptions]="[5, 10, 15]"
        showFirstLastButtons
        class="paginator"
      >
      </mat-paginator>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenAprovado = true"
      (closed)="panelOpenAprovado = false"
      class="sanfona"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Aprovados </mat-panel-title>
      </mat-expansion-panel-header>
      <table
        mat-table
        [dataSource]="dataSourceAprovado"
        matSort
        class="mat-elevation-z8"
      >
        <!-- Numero do Pedido -->
        <ng-container matColumnDef="numeroPedido">
          <th mat-header-cell *matHeaderCellDef>Número do Pedido</th>
          <td mat-cell *matCellDef="let element">{{ element.numeroPedido }}</td>
        </ng-container>
  
        <!-- Status do pedido -->
        <ng-container matColumnDef="statusPedido">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">{{ element.statusPedido }}</td>
        </ng-container>
  
        <!-- Valor total do pedido -->
        <ng-container matColumnDef="valorTotal">
          <th mat-header-cell *matHeaderCellDef>Valor Total</th>
          <td mat-cell *matCellDef="let element">
            {{ element.valorTotal }}
          </td>
        </ng-container>
  
        <!-- Botão de visualizar pedido-->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Visualizar Pedido</th>
          <td mat-cell *matCellDef="let element" class="td-button">
            <div>
              <button
                mat-mini-fab
                color=""
                routerLink="/orders/{{ element.id }}"
                class="view-button"
              >
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumnsAprovado"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsAprovado"></tr>
      </table>
  
      <mat-paginator
        [pageSizeOptions]="[5, 10, 15]"
        showFirstLastButtons
        class="paginator"
      >
      </mat-paginator>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenSeparado = true"
      (closed)="panelOpenSeparado = false"
      class="sanfona"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Separado </mat-panel-title>
      </mat-expansion-panel-header>
      <table
        mat-table
        [dataSource]="dataSourceSeparado"
        matSort
        class="mat-elevation-z8"
      >
        <!-- Numero do Pedido -->
        <ng-container matColumnDef="numeroPedido">
          <th mat-header-cell *matHeaderCellDef>Número do Pedido</th>
          <td mat-cell *matCellDef="let element">{{ element.numeroPedido }}</td>
        </ng-container>
  
        <!-- Status do pedido -->
        <ng-container matColumnDef="statusPedido">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">{{ element.statusPedido }}</td>
        </ng-container>
  
        <!-- Valor total do pedido -->
        <ng-container matColumnDef="valorTotal">
          <th mat-header-cell *matHeaderCellDef>Valor Total</th>
          <td mat-cell *matCellDef="let element">
            {{ element.valorTotal }}
          </td>
        </ng-container>
  
        <!-- Botão de visualizar pedido-->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Visualizar Pedido</th>
          <td mat-cell *matCellDef="let element" class="td-button">
            <div>
              <button
                mat-mini-fab
                color=""
                routerLink="/orders/{{ element.id }}"
                class="view-button"
              >
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumnsSeparado"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSeparado"></tr>
      </table>
  
      <mat-paginator
        [pageSizeOptions]="[5, 10, 15]"
        showFirstLastButtons
        class="paginator"
      >
      </mat-paginator>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenEmTransporte = true"
      (closed)="panelOpenEmTransporte = false"
      class="sanfona"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Em Transporte </mat-panel-title>
      </mat-expansion-panel-header>
      <table
        mat-table
        [dataSource]="dataSourceEmTransporte"
        matSort
        class="mat-elevation-z8"
      >
        <!-- Numero do Pedido -->
        <ng-container matColumnDef="numeroPedido">
          <th mat-header-cell *matHeaderCellDef>Número do Pedido</th>
          <td mat-cell *matCellDef="let element">{{ element.numeroPedido }}</td>
        </ng-container>
  
        <!-- Status do pedido -->
        <ng-container matColumnDef="statusPedido">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">{{ element.statusPedido }}</td>
        </ng-container>
  
        <!-- Valor total do pedido -->
        <ng-container matColumnDef="valorTotal">
          <th mat-header-cell *matHeaderCellDef>Valor Total</th>
          <td mat-cell *matCellDef="let element">
            {{ element.valorTotal }}
          </td>
        </ng-container>
  
        <!-- Botão de visualizar pedido-->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Visualizar Pedido</th>
          <td mat-cell *matCellDef="let element" class="td-button">
            <div>
              <button
                mat-mini-fab
                color=""
                routerLink="/orders/{{ element.id }}"
                class="view-button"
              >
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumnsEmTransporte"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsEmTransporte"></tr>
      </table>
  
      <mat-paginator
        [pageSizeOptions]="[5, 10, 15]"
        showFirstLastButtons
        class="paginator"
      >
      </mat-paginator>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenEntregue = true"
      (closed)="panelOpenEntregue = false"
      class="sanfona"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Entregue </mat-panel-title>
      </mat-expansion-panel-header>
      <table
        mat-table
        [dataSource]="dataSourceEntregue"
        matSort
        class="mat-elevation-z8"
      >
        <!-- Numero do Pedido -->
        <ng-container matColumnDef="numeroPedido">
          <th mat-header-cell *matHeaderCellDef>Número do Pedido</th>
          <td mat-cell *matCellDef="let element">{{ element.numeroPedido }}</td>
        </ng-container>
  
        <!-- Status do pedido -->
        <ng-container matColumnDef="statusPedido">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">{{ element.statusPedido }}</td>
        </ng-container>
  
        <!-- Valor total do pedido -->
        <ng-container matColumnDef="valorTotal">
          <th mat-header-cell *matHeaderCellDef>Valor Total</th>
          <td mat-cell *matCellDef="let element">
            {{ element.valorTotal }}
          </td>
        </ng-container>
  
        <!-- Botão de visualizar pedido-->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Visualizar Pedido</th>
          <td mat-cell *matCellDef="let element" class="td-button">
            <div>
              <button
                mat-mini-fab
                color=""
                routerLink="/orders/{{ element.id }}"
                class="view-button"
              >
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumnsEntregue"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsEntregue"></tr>
      </table>
  
      <mat-paginator
        [pageSizeOptions]="[5, 10, 15]"
        showFirstLastButtons
        class="paginator"
      >
      </mat-paginator>
    </mat-expansion-panel>
  </mat-accordion>