<mat-card>
<div>
    <div>
        <img class="img" src="../../../assets/img/dagdelivery.png">
    </div>
    <h1 style="text-align: center;">Nossa História</h1>
  <div style="text-align: justify;">
    Tudo começou com um simples armazém de irmãos, que depois se concretizou no Grupo J. Sleiman, hoje, responsável pela
    maior empresa especialista em distribuição de produtos de higiene e beleza do Ceará: O DAG Distribuidor.
    <br>
    Este crescimento se deu pela união de alguns fatores: o espírito inovador, o investimento permanente em tecnologia e
    logística e a determinação em criar, formar e consolidar o melhor time de colaboradores.
    <br>
    O DAG trabalha com as melhores marcas e produtos selecionados da categoria de higiene e beleza para atender as
    necessidades dos consumidores cearenses. São mais de 12 mil clientes atendidos em todos os 184 municípios do Ceará
    com venda fracionada, portfólio completo, entrega garantida, atendimento personalizado e inteligência de varejo,
    utilizando o gerenciamento por categoria, layoutização e merchandising.
    <br>
    Dessa forma, construiu fortes parcerias com seus fornecedores e principalmente com nossos clientes varejistas,
    conquistando reconhecimento nacional e internacional pelo mercado.
    <br>
    O sucesso do nosso trabalho está na confiança em relações comerciais estabelecidas através do cumprimento de todos
    os compromissos negociados com os nossos clientes. Com humildade, respeito pelas pessoas e disciplina, nossa empresa
    está há 60 anos distribuindo higiene, beleza e satisfação nos lares cearenses.
  </div>
</div>
</mat-card>