<mat-toolbar >
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/list">Ver Pedidos</button>
    <button mat-menu-item routerLink="/about">Sobre Nós</button>
    <button mat-menu-item routerLink="/login">Sair</button>
  </mat-menu>
  <span>Pedidos</span>
  <span class="spacer"></span>
  <button mat-icon-button routerLink="/about">
    <mat-icon>help_outline</mat-icon>
  </button>
  <button mat-icon-button routerLink="/list">
    <mat-icon>filter_alt</mat-icon>
  </button>
  <button mat-icon-button routerLink="/login">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>