<div class="body">
    <mat-icon>description</mat-icon>
    <h3 mat-dialog-title><b>Nota Fiscal</b></h3>
    <p><b>Emitente: </b>{{data.notaFiscal.identificacaoEmitente}}
    <br>    
    <b>Valor Total da Nota: </b> {{data.notaFiscal.valorTotalDaNota}}
    <div mat-dialog-actions>

        <button mat-button mat-dialog-close>Sair</button>


    </div>
</div>
