<div class="login">
    <h1>Login</h1>
<p>
  <mat-form-field appearance="legacy" class="email">
    <mat-label>E-mail</mat-label>
    <input [(ngModel)]="usuario.email" matInput placeholder="E-mail" type="email">
    <mat-icon matSuffix>account_circle</mat-icon>
  </mat-form-field>
</p>

<p>
    <mat-form-field appearance="legacy" class="senha">
      <mat-label>Senha</mat-label>
      <input [(ngModel)]="usuario.password" matInput class="senha" placeholder="Senha" type="password">
      <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>
  </p>
 
    <button mat-stroked-button class="login-button" color="primary" type="submit" (click)="fazerLogin()">Entrar</button>
</div>

<div>
  <img class="img" src="../../../assets/img/login.png">
</div>