
.login {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.email, .senha {
    width: 300px;
}

.login-button {
    width: 300px;
}

.img {
    width: 100%;
    max-width: 600px;
    height: auto;
}