.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.flex-aviso {
    display: flex;
    flex-direction: row;
}

.flex-status {
    display: flex;
    justify-content: center;
}

.flex-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.flex-buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.pedido {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.red-icon {
    color: red;
}