<div class="flex">
  <div>
    <h2>Pedido: <b>{{pedido.numeroPedido}}</b></h2>
  </div>
  <div>
    <h2>Orc: <b>{{pedido.orcPedido}}</b></h2>
  </div>
</div>

<div class="flex-status">
  <h1><b>PEDIDO {{pedido.statusPedido}}</b></h1>
</div>

<div class="flex-img">
  <img *ngIf="pedido.statusPedido == 'RECEBIDO'" src="../../../assets/img/recebido.png" class="pedido">
  <img *ngIf="pedido.statusPedido == 'APROVADO'" src="../../../assets/img/aprovado.png" class="pedido">
  <img *ngIf="pedido.statusPedido == 'SEPARADO'" src="../../../assets/img/separado.png" class="pedido">
  <img *ngIf="pedido.statusPedido == 'EM TRANSPORTE'" src="../../../assets/img/emtransporte.png" class="pedido">
  <img *ngIf="pedido.statusPedido == 'ENTREGUE'" src="../../../assets/img/entregue.png" class="pedido">
  <h3 style="text-align: center;" *ngIf="pedido.statusPedido == 'RECEBIDO'">Recebemos o seu pedido e estamos processando o pagamento.</h3>
  <h3 style="text-align: center;" *ngIf="pedido.statusPedido == 'APROVADO'">Processamos seu pedido e logo iniciaremos a separação.</h3>
  <div *ngIf="pedido.statusPedido == 'SEPARADO'">
    <h3 style="text-align: center;">Os itens do seu pedido foram separados e logo sairão para transporte.</h3>
  <div class="flex-aviso">
     <div><mat-icon class="red-icon">warning</mat-icon></div>
      <div>
        <b style="color: red;">Houve uma alteração no seu pedido e o valor foi atualizado de acordo com o estoque disponível.
        
        <br>
        <u>Visualizar atualização do pedido.</u></b>
      </div>
  </div>
  </div>
  <h3 style="text-align: center;" *ngIf="pedido.statusPedido == 'EM TRANSPORTE'">Seu pedido está em transporte. Tenha alguém no endereço para recebê-lo.</h3>
  <h3 style="text-align: center;" *ngIf="pedido.statusPedido == 'ENTREGUE'">Pedido entregue. Agradecemos por escolher o DAG para abastecer seu estoque.</h3>
</div>

<h4 style="margin-bottom: 0px;">Previsão de Entrega</h4>
<b>{{pedido.previsaoEntrega}}</b>

<div class="flex">
    <div>
        <h4 style="margin-bottom: 0px;">Valor Total</h4>
        <b>{{pedido.valorTotal}}</b>
    </div>
<div>
    <h4 style="margin-bottom: 0px;">Total em Descontos</h4>
        <b>{{pedido.totalDescontos}}</b>
</div>
</div>

<h4 style="margin-bottom: 0px;">Endereço de Entrega</h4>
<b>{{pedido.enderecoEntrega}}</b>

<h4 style="margin-bottom: 0px;">Forma de pagamento</h4>
<b>{{pedido.formaPagamento}}</b>
<br>
<br>
<div class="flex-buttons">
    <button mat-stroked-button color="primary" (click)="openDialog(pedido)">VER ITENS DO PEDIDO</button>
    <br>
    <button mat-stroked-button color="primary" disabled *ngIf="pedido.statusPedido == 'RECEBIDO' || pedido.statusPedido == 'APROVADO'">GERANDO NF</button>
    <button mat-stroked-button color="primary" 
    *ngIf="pedido.statusPedido == 'SEPARADO' || pedido.statusPedido == 'EM TRANSPORTE' ||  pedido.statusPedido == 'ENTREGUE'" (click)="openDialogNf(pedido)">VER NOTA FISCAL</button>
</div>

