@import '~@angular/material/theming';
@include mat-core();

$dag-delivery-primary: mat-palette($mat-green);
$dag-delivery-accent:  mat-palette($mat-pink, 500, 900, A100);
$dag-delivery-warn:    mat-palette($mat-deep-orange);
$dag-delivery-theme:   mat-light-theme($dag-delivery-primary, $dag-delivery-accent, $dag-delivery-warn);
@include angular-material-theme($dag-delivery-theme);