<div class="body">
    <mat-icon>shopping_bag</mat-icon>
    <h3 mat-dialog-title><b>Itens do pedido</b></h3>
    <p>{{data.itensPedido[0].nomeItem}} - Qtd.: {{data.itensPedido[0].quantidadeItem}}</p>
    <p>{{data.itensPedido[1].nomeItem}} - Qtd.: {{data.itensPedido[1].quantidadeItem}}</p>
    <div mat-dialog-actions>

        <button mat-button mat-dialog-close>Sair</button>


    </div>
</div>
